<header>
  <nav class="nav">
    <ul class="nav-links">
<<<<<<< HEAD
      <li><a href="">link</a></li>
      <li><a href="">link</a></li>
      <li><a href="">link</a></li>
      <li><a href="">link</a></li>
=======
      <% if signed_in? %>
      <li><span>Welcome</span> <%=current_user.username %> </li>
      <li>  <span> Friends </span> (<%=@confirmed.count  %>) </li>

      <li>  <span> Posts</span>  on your feed (<%=@posts.count %>)</li>
        <%end %>
      <input class="nav-search" type="text" placeholder="search friends">
>>>>>>> master
    </ul>

    <%= render 'layouts/messages' %>

    <ul>
      <li class="nav-links">
        <%=link_to 'logout', destroy_user_session_path, method: :delete %>
      </li>
    </ul>
  </nav>
<<<<<<< HEAD
</header>
=======
</header>
>>>>>>> master
