<!DOCTYPE html>
<html>
  <head>
    <title>FacebookLike</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/148da265e3.js"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <main>
    <header>
      <nav class="nav">
        <ul class="nav-links">
          <li><a href="">link</a></li>
          <li><a href="">link</a></li>
          <li><a href="">link</a></li>
          <li><a href="">link</a></li>
        </ul>

          <%= render 'layouts/messages' %>

        <ul>
          <li class="nav-links">
            <%=link_to 'logout', destroy_user_session_path, method: :delete %>
          </li>
        </ul>
      </nav>
    </header>

  <div class="wrapper">




    <%= yield %>
  </div>
  </main>
  </body>
</html>
